@import "../variables";

.try {
  margin: 0 183px;
  background-color: $green-back;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;

  .text {
    margin: auto 0;
    padding: 0 24px;

    h2 {
      margin: 27px 0 8px;
      font-size: 32px;
      font-weight: 600;
      color: $green-headline;
    }
    p {
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      margin-bottom: 24px;
    }

    .try-btn {
      padding: 13px 32px;
      cursor: pointer;
      background-color: $green-headline;
      border-radius: 8px;
      font-weight: 500;
      font-size: 16px;
      color: #ffff;
    }
  }
}

@media screen and (max-width: 1100px) {
  .try {
    margin: 16px;
    padding: 20px 6px;
    flex-direction: column;

    .text {
      h2 {
        margin-top: 0;
      }

      .try-btn {
          width: 100%;
      }
    }

    .image {
      display: none;
    }
  }
}
