$header-btn: #262626;
$green-headline: #04BF94;
$headline: #242424;
$gray: #91A0B6;
$article-info: #ADB8C8;
$green-back: #04BF9429;
$article-desc: #78787A;
$category: #91A0B6;
$border: #C4C4C4;
$loading: #E0E5EE;